<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AspirePath">
        <activity
            android:name=".First"
            android:exported="true" />
        <activity
            android:name=".SignInActivity"
            android:exported="true"/>
        <activity
            android:name=".SignUpActivity"
            android:exported="true"/>
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:parentActivityName=".SignInActivity"/>
        <activity
            android:name=".InterestActivity"
            android:exported="false"
            android:parentActivityName=".First"/>
        <activity
            android:name=".AnalysisActivity"
            android:exported="false"
            android:parentActivityName=".First"/>
        <activity
            android:name=".QuizActivity"
            android:exported="false"
            android:parentActivityName=".First"/>
        <activity
            android:name=".Post10thActivity"
            android:exported="false"
            android:parentActivityName=".QuizActivity"/>
        <activity
            android:name=".Post12thActivity"
            android:exported="false"
            android:parentActivityName=".QuizActivity"/>
        <activity
            android:name=".UndergraduateActivity"
            android:exported="false"
            android:parentActivityName=".QuizActivity"/>
        <activity
            android:name=".PostGraduationActivity"
            android:exported="false"
            android:parentActivityName=".QuizActivity"/>
        <activity
            android:name=".PostgraduateActivity"
            android:exported="false"
            android:parentActivityName=".QuizActivity"/>
        <activity
            android:name=".BeyondMastersActivity"
            android:exported="false"
            android:parentActivityName=".QuizActivity"/>
        <activity
            android:name=".CompetitiveExamsActivity"
            android:exported="false" />
        <activity
            android:name=".ExamCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".GuidanceActivity"
            android:exported="false"
            android:parentActivityName=".First"/>
        <activity
            android:name=".ChatbotActivity"
            android:exported="false"
            android:parentActivityName=".First"/>
        <activity
            android:name=".ManageAccountActivity"
            android:exported="false"
            android:parentActivityName=".First"/>
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TalukaInstitutionsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ScholarshipActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ShippingInstitutesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Post10thResultActivity"
            android:exported="false"
            android:parentActivityName=".Post10thActivity"/>
        <activity
            android:name=".Post12thResultActivity"
            android:exported="false"
            android:parentActivityName=".Post12thActivity"/>
        <activity
            android:name=".PostGraduationResultActivity"
            android:exported="false"
            android:parentActivityName=".PostGraduationActivity"/>
        <activity
            android:name=".ProgressAnalysisActivity"
            android:exported="false"
            android:parentActivityName=".Post10thResultActivity"/>
    </application>

</manifest>